body{
    background-image: url("https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg?w=1480&t=st=1728880111~exp=1728880711~hmac=dafb6c3680090149e0a3c4e5a29f8edc9b2864d8bed96a68d2612f73956f4c31);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home_page_content{
    padding: 130px;
}
.home_page_content p{
    text-align: center;
    text-shadow: #000;
    font-size: 1cm;
    
}
.nav_bar,ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    
}
.nav_bar li{
    float: right;
}
.nav_bar,li a{
 display: block;
 color: #000;
 text-decoration: none;
 padding: 10px 10px;
 font-size: large;
}
.nav_bar,li a:hover{
    
    color: white;
}
.cont{
    background-color: aliceblue;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: auto;
}

