body{
    background-image: url("home_page_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home_page_content{
    padding: 130px;
}
.home_page_content p{
    text-align: center;
    text-shadow: #000;
    font-size: 1cm;
    
}
.nav_bar,ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    
}
.nav_bar li{
    float: right;
}
.nav_bar,li a{
 display: block;
 color: #000;
 text-decoration: none;
 padding: 10px 10px;
 font-size: large;
}
.nav_bar,li a:hover{
    
    color: white;
}
.cont{
    background-color: aliceblue;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: auto;
}

