body{
    background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=J5WUPGRn&id=F2F7027304868CD94219C11A764A1B39E0AF409E&thid=OIP.J5WUPGRnSPNyDt0vENnjrwHaDn&mediaurl=https%3a%2f%2fwallpaperaccess.com%2ffull%2f5651990.jpg&exph=928&expw=1900&q=background+image+portfolio&simid=608017299547036942&FORM=IRPRST&ck=36C8C183FBCA567A4D767653FDC83F20&selectedIndex=0&itb=0");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home_page_content{
    padding: 130px;
}
.home_page_content p{
    text-align: center;
    text-shadow: #000;
    font-size: 1cm;
    
}
.nav_bar,ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    
}
.nav_bar li{
    float: right;
}
.nav_bar,li a{
 display: block;
 color: #000;
 text-decoration: none;
 padding: 10px 10px;
 font-size: large;
}
.nav_bar,li a:hover{
    
    color: white;
}
.cont{
    background-color: aliceblue;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: auto;
}

